input:focus, textarea:focus {
  outline: none; /* pour enlever le contour bleu par défaut */
  border-color: #861f5d;
  box-shadow: 0 0 0 2px rgba(255, 47, 172, 0.3); /* optionnel, un léger halo violet */
}
