/* Style de base pour le header */
header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #4a4a4a;
  }
  
  a:hover {
    color: #A03473;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  